{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid" src="{{ cafe.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">

    <h1>{{ cafe.name }}</h1>
    <span>
      <button name='{{ cafe.id }}' class="btn btn-primary like-button" id="{{ cafe.id }}"></button>
    </span>

    <p class="lead">{{ cafe.description }}</p>

    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>

    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    {% if g.user.admin %}
    <div>
      <p>
        <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
          Edit Cafe
        </a>
      </p>
    </div>
    <div class = "mb-2">

      <form action="/cafes/{{cafe.id}}/delete" method="POST">
        {{ g.csrf_form.hidden_tag() }}
        <button type="submit" class="btn btn-outline-danger" >Delete Cafe</button>
      </form>

    </div>
    {% endif %}


    <div class="cafe-map">
      <img src="/static/maps/{{ cafe.id }}.jpg" alt="map of {{ cafe.name }}" style="height: 350px; width: 350px">
    </div>




  </div>

</div>

<script src="/static/likes.js"></script>

{% endblock %}